:root {
  --select-hover-color: #fff;
  --inactive-color: #5e5e5e;
  --theme-color: #1db954;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  /* font-family: sans-serif; */
}
ol,
ul {
  list-style: none;
}
hr {
  display: block;
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: #282828;
  height: 1px;
}

.App {
  height: 100%;
}
